@page "/webassembly"
@inject HttpClient client
@rendermode InteractiveWebAssembly

<div>
    <h2 class="display-4">WebAssembly Upload</h2>
    <p>Upload a file using Blazor WebAssembly.</p>
</div>

@if(Message.Length > 0)
{
    <p class="alert alert-secondary" role="alert">@Message</p>
}

<EditForm Model="@Ticket" method="post" OnValidSubmit="@OnSubmit" enctype="multipart/form-data">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText class="form-control mb-4" placeholder="Title" @bind-Value="@Ticket.Title" />
    <InputText class="form-control mb-4" placeholder="Description" @bind-Value="@Ticket.Description" />
    <InputFile class="form-control mb-4" multiple />
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    private WebAssemblyTicket Ticket { get; set; } = new();
    private long maxFileSize = 5120000;
    private string Message { get; set; } = String.Empty;

    private async Task OnSubmit()
    {
        try
        {
            using MultipartFormDataContent content = new();

            // Add form values
            content.Add(new StringContent(Ticket.Title), "Title");
            content.Add(new StringContent(Ticket.Description), "Description");

            foreach (var file in Ticket.Attachments)
            {
                // Add file attachment
                string safeFileName = WebUtility.HtmlEncode(file.Name);
                var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));
                fileContent.Headers.ContentType = MediaTypeHeaderValue.Parse(file.ContentType);
                content.Add(fileContent, "Attachments", safeFileName);
            }

            // Send to API endpoint
            var response = await client.PostAsync("/upload", content);

            Message = response.IsSuccessStatusCode ? "Upload successful!" : response.ReasonPhrase;

            Ticket = new();
        } 
        catch(Exception e)
        {
            Message = "Upload failed. Error: " + e.Message;
        }
    }

    private class WebAssemblyTicket
    {
        [Required]
        public string Title { get; set; } = String.Empty;
        [Required]
        public string Description { get; set; } = String.Empty;
        
        public IReadOnlyList<IBrowserFile> Attachments { get; set; }
    }
}